be/_build
be/deps
.git
be/priv/static

# compiled output
fe/tmp

# dependencies
fe/node_modules
fe/bower_components

# misc
fe/.git
fe/.sass-cache
fe/connect.lock
fe/coverage/*
fe/libpeerconnection.log
fe/npm-debug.log*
fe/testem.log
.DS_Store
