.player-details {
//    height: 100%;
  height: 42px;

  border: 1px solid transparent;
  border-top: 1px solid #333;
  border-left: 1px solid #333;


  .player-detail {
    width: 100%;
    height: 100%;
    line-height: 40px;
  }

//    .player-detail > div {
//      line-height: 36px;
//    }

  .active {
    color: #337ab7;
    background: rgba(0, 0, 0, 0.5);
  }



  .player-avatar {
    width: 40px;
    height: 40px;
    float: left;
  }

  .player-empty-avatar {
    padding-top: 4px;
    padding-left: 0px;
//      line-height: 40px;
  }

  .player-box {
    height:40px;
    vertical-align: middle;
    margin-left: 40px;
  }


  .player-info {
    width: 100%;
    height: 100%;
    line-height: 16px;
    padding-top: 8px;
  }

  .player-name {
    height: 100%;
    padding-left: 6px;
    display: inline;
    br {
      line-height: 6px;
    }
  }

  .player-stats {
    font-size: 12px;
    color: #555;
    display: inline;
    padding-right: 6px;
  }

  .player-remove {
    color: #f00;
    display: inline;
    float: right;
    padding-right: 4px;

    a:hover, a:focus {
      cursor: pointer;
    }
  }

  .player-options {
    font-size: 13px;
    display: inline;
  }

  .player-rank {
    display: inline;
    position: relative;
    bottom: 0px;
    left: 7px;
    line-height: 10px;
    font-size: 10px;
    color: #555;
  }
}

.player-details-selectable:hover {
  border: 1px solid #1a80b6;
  background: rgba(0, 0, 0, 0.7);
  cursor: pointer;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}

.ui-draggable:hover {
  background: rgba(0,0,0,.7);
  border-color: $blue;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}

.player-details-draggable:hover {
  border: 1px solid #1a80b6;
  background: rgba(0, 0, 0, 0.7);
  cursor: move;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}

 .player-details.ui-draggable-dragging {
  height: 42px;
  width: 250px;
  background: rgba(0,0,0,.7);
  border: 1px solid #337ab7;
  color: #fff;

  .player-remove {
    display:none;
  }
} 
