.drag-item-selectable:hover {
  border: 1px solid #1a80b6;
  background: rgba(0, 0, 0, 0.7);
  cursor: pointer;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}

.ui-draggable:hover {
  background: rgba(0,0,0,.7);
  border-color: $blue;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}

.drag-item-draggable:hover {
  border: 1px solid #1a80b6;
  background: rgba(0, 0, 0, 0.7);
  cursor: move;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}

 .drag-item.ui-draggable-dragging {
  height: 42px;
  width: 250px;
  background: rgba(0,0,0,.7);
  border: 1px solid #337ab7;
  color: #fff;

//  .player-remove {
//   display:none;
//  }
} 
