#units {
  width: $pilot-width;
  height: 100%;
  float: left;
  position: relative;

  .pilot-panel {
    height: 100%;
    overflow-y:auto;
  }
}

#chart {
	width: $overview-width;
	height: 100%;
	float: left;
  position: relative;
}

$filter-height: 80px;
$pager-height: 35px;
//  $result-height: calc(100% - #{$filter-height} - #{$pager-height});
$result-height: calc(100% - #{$filter-height});

#info {
  width: $info-width;
  height: 100%;
  float: left;
  position: relative;


  .info-stats {
    height: 22px;
    line-height: 22px;
  }

  .info-content {
    height:  calc(100% - 22px);
    position: relative;
//      height: calc(100% - 26px);
    width: 100%;
    overflow-y: auto;
  }
}

