
.ship-model-listview {
  height: 64px;
  line-height: 52px;
}

.ship-model-gridview {
  width:100%;
  height:100%;
}

.selectable:hover > .top-left {
  color: #000;
  background-color: #1a80b6;
}

.def-table-header {
    height: 34px;
    font-size: 14px;
    line-height: 34px;
    font-weight: bold;
    background-color: #000;
    color: #1a80b6;
    border-bottom: 1px solid #219ab3;
}
