{{#if session.current_user}}
<div id="myheader" class="clearfix">
  <ul class="nav nav-tabs">
    <li>
      {{partial 'application/user-menu'}}
    </li>

    {{#if session.errors}}
      <li>
        <i class="danger fa fa-warning"></i>
        {{#each session.errors as |error|}}
            {{error.message}},
        {{/each}}
      </li>
    {{/if}}


    {{#if session.current_user.permission.log_read}}
      <li class="pull-right">{{#link-to 'log'}}<i class="fa fa-history"></i> Log{{/link-to}}</li>
    {{/if}}

    {{#if session.current_user.permission.user_read}}
      <li class="pull-right">{{#link-to 'users'}}<i class="fa fa-users"></i> Users{{/link-to}}</li>
    {{/if}}

    {{#if session.current_user.permission.reward_read}}
      <li class="pull-right">{{#link-to 'rewards'}}<i class="fa fa-trophy"></i> Rewards{{/link-to}}</li>
    {{/if}}

    {{#if session.current_user.permission.ship_model_read}}
      <li class="pull-right">{{#link-to 'ship-models'}}<i class="fa fa-cubes"></i> Models{{/link-to}}</li>
    {{/if}}

    {{#if session.current_user.permission.ship_read}}
      <li class="pull-right">{{#link-to 'ships'}}<i class="fa fa-space-shuttle"></i> Ships{{/link-to}}</li>
    {{/if}}

    {{#if session.current_user.permission.player_read}}
      <li class="pull-right" >{{#link-to 'players'}}<i class="fa fa-users"></i> Players{{/link-to}}</li>
    {{/if}}

    {{#if session.current_user.permission.unit_read}}
      <li class="pull-right" >{{#link-to 'overview'}}<i class="fa fa-pie-chart"></i> Overview{{/link-to}}</li>
    {{/if}}
  </ul>
</div>
{{/if}}
