<span class="action-name">
  {{actionName}}
</span>
<div class="player-form">
  {{#power-select
    options=data
    selected=selVal
    onchange=(action "applyMember")
    renderInPlace=true
    searchField="name"
    initiallyOpened=selVal
    as |mem idx|
  }}
     <img src="{{mem.avatar}}" class="mem-icon"> {{mem.name}}
  {{/power-select}}

</div>

{{!--
{{/if}}
--}}


