{{#if (and tb session.current_user.permission.item_tb)}}
  <div class="toolbar">
    {{#if session.current_user.permission.item_edit}}
      <button class="tb tb-default" type="button" {{action 'editItem' item}}><i class="fa fa-gear"></i></button>
    {{/if}}
    {{#if session.current_user.permission.item_delete}}
      <button class="tb tb-danger" type="button" {{action 'deleteItem' item}}><i class="fa fa-close"></i></button>
    {{/if}}
  </div>
{{/if}}

<div class="top-left">
    <span class="item-name">
      {{item.name}}
    </span>
</div>

{{#if item.img}}
  <img class="item-type-img" src={{item.img}}>
{{/if}}

