.check-box {
  height: 32px;
  display: inline;
  color: #1a80b6;
  background: transparent;
  outline-width: 0px !important;

  .btn-check {
    width: 24px;
    border: 0px;
    color: #1a80b6;
    background: transparent;
  }

  .check-box-checked {
    color: #f00;
  }
}


.check-box:hover {
  color: #fff;
  cursor: pointer;

  .btn-check {
    color: #fff;
    background: transparent;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
  }
}

.check-box-disabled {
  height: 32px;
  display: inline;
  color: #fff;
  background: transparent;
  outline-width: 0px !important;

  .btn-check {
    width: 24px;
    border: 0px;
    color: #fff;
    background: transparent;
  }

  .btn-check:hover {
    i {
      cursor: pointer;
    }
  }
}

.btn-check:focus {
  border: 0px;
  outline: 0px !important;
}
