<span class="action-name">
  {{actionName}}
</span>
<div class="unit-form">
  {{#power-select
    options=data
    selected=selVal
    onchange=(action "applyMember")
    renderInPlace=true
    initiallyOpened=selVal
    as |num idx|
  }}
    {{num}}
  {{/power-select}}
</div>
