.ember-basic-dropdown-content {
//    position:relative;
  top:1px !important;
  left:1px !important;
}


.ember-power-select-group-name {
  color: $blue;
}

.ember-power-select-trigger-multiple-input {
  display: block;
  height: 30px;
//    padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
//    color: #555;
//    background-color: transparent !important;
//    border: 1px solid #ccc;
//    border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
 -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.ember-power-select-option {
    cursor: pointer;
    padding: 1px 20px;
    font-size: 14px;
}

.ember-power-select-multiple-options {
    padding: 2px;
}
