<div class="jumbotron">
  <h2>Welcome to Orgtool!</h2>
  <p class="lead">Please log in and proceed to the <a href="/ui/index.html">UI</a>.</p>
</div>

<div class="row marketing">
  <div class="col-lg-6">
    <h4>Resources</h4>
    <ul>
      <li>
        <a href="https://www.oddysee.org">oddysee</a>
      </li>
      <li>
        <a href="https://nautilus.group">Nautilus Galactic</a>
      </li>
    </ul>
  </div>

  <div class="col-lg-6">
  </div>
</div>
