<span class="action-name">
  {{actionName}}
</span>
<div class="player-form">
  {{#power-select
    options=data
    selected=selVal
    onchange=(action "rewardPlayer")
    renderInPlace=true
    searchField="name"
    initiallyOpened=selVal
    as |reward idx|
  }}
     <img src="{{reward.img}}" class="mem-icon">[{{reward.level}}] {{reward.name}}
  {{/power-select}}
</div>


